.active {
    background-color: #4F5051;
    color: whitesmoke;
}

.header {
    background-color: #2A9301;
    color: whitesmoke;
    width:100%;
}

.header a{
    height: 100%;
    width: 100%;
}

.header table {
    background-color: #2A9301;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}

.header td {
    color: whitesmoke;
    padding: 10;
    text-align: center;
}

.header td:hover {
    background-color: #4F5051;
    cursor: pointer;
}

.name {
    font-family: Raleway Medium, Lato, Arial, sans-serif;
    size: 24pt;
    text-align: center;
}

.page {
    font-family: Lato, Arial, sans-serif;
}