.active {
    background-color: #4F5051;
    color: whitesmoke;
}

.header {
    width:100%;
    background-color: #2A9301;
    color: whitesmoke;
}

.header table {
    margin: 0;
    padding: 0;
    /* list-style-type: none; */
    background-color: #2A9301;
}

/* .header li {
    display: inline;
} */

.header a {
    float:left;
    color: whitesmoke;
    text-align: center;
}

.header a:hover {
    background-color: #4F5051;
    color: white;
    cursor: pointer;
}

.page {
    font-family:Lato, Arial, sans-serif;
}