.active {
    background-color: #2A9301;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    background-color: #2A9301;
}

.header {
    width:100%;
    float:left;
    background-color: #2A9301;
    color: whitesmoke;
}

.header a {
    float:left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header a:hover {
    background-color: #4F5051;
    color: white;
}