.active {
    background-color: #2A9301;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CCCDCE;
}

li {
    float:left;
    background-color: #CCCDCE;
    color: black;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4F5051;
    color: white;
}